[submodule "bundle/vimtex"]
	path = bundle/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = git://github.com/honza/vim-snippets.git
[submodule "bundle/vim-snazzy"]
	path = bundle/vim-snazzy
	url = https://github.com/connorholyday/vim-snazzy.git
[submodule "bundle/vim-sol"]
	path = bundle/vim-sol
	url = https://github.com/notpratheek/vim-sol.git
